#guzik {
	width: 500px;
	height: 100px;
	position: absolute;
	bottom: 60%;
	right: 25%;
        font-size: 30px;
}

table {
	width: 40%;
	height: 60%;
	border: 2px solid black;
	text-align: center;
	border-collapse: collapse;
        position: absolute;
}

table td {
	border: 2px solid black;
}

#mucha {
	width: 20px;
	height: 20px;
}

#op1 {
	background-color: white;
}

#op2 {
	background-color: white;
}

#op3 {
	background-color: white;
}

#op4 {
	background-color: white;
}

#op5 {
	background-color: white;
}

#op6 {
	background-color: white;
}

#op7 {
	background-color: white;
}

#op8 {
	background-color: white;
}

#op9 {
	background-color: white;
}

#op10 {
	background-color: white;
}

#op11 {
	background-color: white;
}

#op12 {
	background-color: white;
}

#op13 {
	background-color: white;
}

#op14 {
	background-color: white;
}

#op15 {
	background-color: white;
}

#op16 {
	background-color: white;
}

#op17 {
	background-color: white;
}

#op18 {
	background-color: white;
}

#op19 {
	background-color: white;
}

#op20 {
	background-color: white;
}

#op21 {
	background-color: white;
}

#op22 {
	background-color: white;
}

#op23 {
	background-color: white;
}

#op24 {
	background-color: white;
}					